@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import 'css/_dashboard.css';
@import 'css/_dashboard_card.css';
@import 'css/_btns.css';
@import 'css/_form.css';
@import 'css/_weather.css';


body {
  background-image: linear-gradient(rgba(124, 181, 218, 0.52), rgba(150, 150, 150, 0.73)),
  url('https://images.unsplash.com/photo-1544006659-f0b21884ce1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
/*background-image: url('./images/background.png');*/
  background-size:cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

