/*general dashboard page styling and media queries*/
.dashboard-title {
  font-size: 8vh;
  color: white;
}

.dashboard-container {
  height: 100%;
  width:100%;
  display: grid;
  grid-gap: 3%;
  grid-template-columns: 80%;
  grid-template-rows: 45%;
  margin: 2% 10%;
  overflow-y: scroll;
}

.dashboard-container a {
  text-decoration: none;
  color: black;
}

.profile-img {
  position: absolute;
  top: 3%;
  right: 2%;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255,1);
}

@media (min-width: 768px) {
  .dashboard-container {
    margin: 0 auto;
    height: 100%;
    width:100%;
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 47% 47%;
    grid-template-rows: 38%;
    color: black;
  }
}

@media (min-width: 992px) {
  .dashboard-container {
    margin: 2% auto;
    height: 100%;
    width:100%;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 40%;
    color: black;
  }
}
